<div class="w-full flex flex-col">
  <div class="w-full">
    <h1 class="text-[26px] font-bold border-b pb-4">{{ 'username' | translate }}</h1>
  </div>

  <div class="w-full mt-10">
    <div class="flex w-full items-start gap-4">
      <div class="relative w-[400px]">
        <label class="absolute top-[-18px] p-2 bg-white left-4 text-[12px]">{{ 'email' | translate }}</label>
        <input disabled value="{{ this.currentUser.email }}" class="border text-[#959595] cursor-not-allowed border-[#E6E4E1] w-full px-6 py-3" type="text">
        <p class="text-[12px] mt-2">{{ 'change_mail_text' | translate }}
          <a href="#" class="text-[#1570EF]">open-voice&#64;mail.ru</a></p>
      </div>
      <div>
        <button class="border flex items-center gap-4 border-[#E6E4E1] w-full px-6 py-3"><i class='bx bx-pencil' ></i> {{ 'edit' | translate }}</button>
      </div>
    </div>
  </div>

</div>
