<section class="header">
  <div class="w-[50%]">
    <h1>Почему Open Voice?</h1>
    <p>Open Voice – это общедоступный набор голосовых данных, созданный на основе голосов добровольцев со всего мира. Люди, которые хотят создавать голосовые приложения, могут использовать этот набор данных для обучения моделей машинного обучения.</p>
    <p>В настоящее время большинство наборов голосовых данных принадлежат компаниям, что сдерживает инновации. В наборах голосовых данных также преобладают белые англоговорящие мужчины. Это означает, что голосовая технология вообще не работает для многих языков, а там, где она работает, может не работать одинаково хорошо для всех. Мы хотим изменить это, побудив людей со всего мира поделиться своим голосом.</p>
  </div>

  <div class="w-[50%] flex justify-end">
    <img src="/about-background.png" width="600">
  </div>
</section>

<div class="mt-20 px-40 flex items-center flex-col">
  <div class="w-full flex flex-col items-center">
    <h2 class="text-5xl font-[500] text-black">Как работает Open Voice?</h2>
    <p class="text-[22px] w-[700px] text-center font-[300] mt-6">Мы создаём краудсорсинговый открытый голосовой набор. Помогите своим голосом, проверяйте точность записей других людей, делайте набор данных лучше для всех и каждого.
    </p>
  </div>

  <div class="mt-10 flex gap-14">
    <div class="bg-[#F9F9F9] relative py-8 px-16 flex flex-col gap-4 shadow-lg w-[350px] h-[150px]">
      <div class="how-it-works left-[-35px] absolute w-[70px] h-[70px] flex items-center justify-center">
        1
      </div>
        <span class="font-[600] text-[18px]">Запрос языка</span>
        <p>Кто-то просит добавить язык.</p>
    </div>

    <div class="bg-[#F9F9F9] relative py-8 px-16 flex flex-col gap-4 shadow-lg w-[350px] h-[150px]">
      <div class="how-it-works left-[-35px] absolute w-[70px] h-[70px] flex items-center justify-center">
        2
      </div>
      <span class="font-[600] text-[18px]">Локализация веб-сайта</span>
      <p>Текст веб-сайта переведён на этот язык.</p>
    </div>

    <div class="bg-[#F9F9F9] relative py-8 px-16 flex flex-col gap-4 shadow-lg w-[350px] h-[150px]">
      <div class="how-it-works left-[-35px] absolute w-[70px] h-[70px] flex items-center justify-center">
        3
      </div>
      <span class="font-[600] text-[18px]">Запрос языка</span>
      <p>Кто-то просит добавить язык.</p>
    </div>
  </div>

  <div class="mt-10 flex gap-14">
    <div class="bg-[#F9F9F9] relative py-8 px-16 flex flex-col gap-4 shadow-lg w-[350px] h-[150px]">
      <div class="how-it-works left-[-35px] absolute w-[70px] h-[70px] flex items-center justify-center">
        4
      </div>
      <span class="font-[600] text-[18px]">Запуск нового языка</span>
      <p>Мы запускаем сайт Common Voice на этом языке.</p>
    </div>

    <div class="bg-[#F9F9F9] relative py-8 px-16 flex flex-col gap-4 shadow-lg w-[350px] h-[150px]">
      <div class="how-it-works left-[-35px] absolute w-[70px] h-[70px] flex items-center justify-center">
        5
      </div>
      <span class="font-[600] text-[18px]">Как делятся голосами</span>
      <p>Люди приходят и делятся своим голосами.</p>
    </div>

    <div class="bg-[#F9F9F9] relative py-8 px-16 flex flex-col gap-4 shadow-lg w-[350px] h-[150px]">
      <div class="how-it-works left-[-35px] absolute w-[70px] h-[70px] flex items-center justify-center">
        6
      </div>
      <span class="font-[600] text-[18px]">Подтверждение голосов</span>
      <p>Другие люди проверяют эти голосовые записи.</p>
    </div>
  </div>

  <div class="mt-10 flex gap-6">
    <div class="bg-[#F9F9F9] relative py-8 px-16 flex flex-col gap-4 shadow-lg w-[350px] h-[150px]">
      <div class="how-it-works left-[-35px] absolute w-[70px] h-[70px] flex items-center justify-center">
        <i class='bx bx-check' style='color:#59cbb7'  ></i>
      </div>
      <span class="font-[600] text-[18px]">Выпуск набора данных</span>
      <p>Мы публикуем набор данных каждые 3 месяца.</p>
    </div>
  </div>
</div>

<div class="mt-10">

</div>

<app-footer></app-footer>
