<div class="flex flex-col gap-28">
  <section class="flex items-center justify-between px-36 py-14 w-full">
    <div class="flex flex-col w-[40%] gap-10">
      <div class="relative inline-block overflow-hidden">
        <h1 class="text-[60px] font-bold leading-[70px] w-full relative z-10 mb-4">{{ 'ILLUSTRATION_1_TITLE' | translate }}</h1>
        <div class="absolute bottom-0 left-0 h-[5px] bg-[#1B1AFF] w-full animate-slide"></div>
      </div>
      <p>{{ 'ILLUSTRATION_1_TEXT' | translate }}</p>
      <button class="bg-[#9B90FF] px-10 text-white flex justify-center text-[18px] font-[500] items-center gap-4 py-3 rounded-[30px] text-center w-[200px]">{{ 'start' | translate }} <i class='bx bx-down-arrow-alt' style='color:#ffffff' ></i></button>
    </div>

    <div class="flex w-[60%] justify-end relative">
      <img src="/illustration.svg" width="600">

      <span [routerLink]="['/' + currentLanguage + '/listen']" class="w-[80px] h-[80px] cursor-pointer top-[-20px] left-32 bg-white text-center rounded-[50%] shadow-lg flex justify-center items-center absolute"><i class='bx bx-play text-[40px]' style="color: #59cbb7"></i></span>
      <span [routerLink]="['/' + currentLanguage + '/listen']" class="w-[80px] h-[80px] cursor-pointer bottom-[-20px] left-[50%] bg-white text-center rounded-[50%] shadow-lg flex justify-center items-center absolute"><i class='bx bx-microphone text-[36px]' style='color:#ff4f5e'  ></i></span>
    </div>
  </section>

  <section class="flex items-center justify-between px-36 py-14 w-full">
    <div class="flex w-[50%] justify-start relative">
      <img src="/Illustration_2.svg" width="600">
    </div>
    <div class="flex flex-col w-[40%] gap-10">
      <div class="relative inline-block overflow-hidden">
        <h1 class="text-[60px] font-bold leading-[70px] w-full relative z-10 mb-4">Бұл жоба не үшін қажет?</h1>
      </div>
      <div class="flex flex-col gap-6">
        <p>Қазақ тіліндегі дауыс деректерін жинау – сөйлеуді тану жүйелерін дамыту үшін өте маңызды. Бұл жоба:</p>
        <ul class="list-disc list-inside flex flex-col gap-2">
          <li>Дауыспен басқару технологияларын жақсартуға көмектеседі.</li>
          <li>Қазақша жасанды интеллект пен аудиотехнологияларды дамытуға ықпал етеді.</li>
          <li>Ашық және қолжетімді дерекқор жасайды.</li>
        </ul>
      </div>
      <button class="bg-[#9B90FF] px-10 text-white flex justify-center text-[18px] font-[500] items-center gap-4 py-3 rounded-[30px] text-center w-[300px]">Мәліметтерді қараңыз</button>
    </div>
  </section>

  <section class="flex flex-col px-36 items-center py-14 w-full">
    <div class="flex text-center w-full justify-center relative">
      <h1 class="text-[60px] font-bold leading-[70px] w-full relative z-10 mb-4">Біз не ұсынамыз!</h1>
    </div>

    <div class="flex flex-wrap justify-center gap-12 mt-10">
      <div class="flex flex-col justify-between max-w-[450px] min-h-[400px] bg-[#F5F8FE] p-10 rounded-[20px] shadow-lg">
        <div>
          <h4 class="flex items-center gap-4 text-[18px] font-[600]"><i class='bx bx-microphone' style='color:#ff4f5e'  ></i> Дауысты жазу беті (Record Page)</h4>
        </div>

        <div>
          <p>Өз дауысыңызбен үлес қосыңыз! Төмендегі сөйлемдерді оқып, сапалы аудиожазбалар жасауға көмектесіңіз.</p>
        </div>

        <div class="flex justify-center">
          <button [routerLink]="['/' + currentLanguage + '/speak']" class="bg-[#9B90FF] px-10 text-white flex justify-center text-[18px] font-[500] items-center gap-4 py-3 rounded-[30px] text-center w-[250px]">Жазуды бастау</button>
        </div>
      </div>

      <div class="flex flex-col justify-between max-w-[450px] min-h-[400px] bg-[#F5F8FE] p-10 rounded-[20px] shadow-lg">
        <div>
          <h4 class="flex items-center gap-4 text-[18px] font-[600]"><i class='bx bx-play text-[24px]' style='color:#59cbb7'  ></i> Дауысты тексеру (Validate Page)</h4>
        </div>

        <div>
          <p>Қазақша деректердің сапасын жақсартайық! Мұнда басқа адамдардың жазбаларын тыңдап, олардың дұрыс оқылғанын тексере аласыз.</p>
        </div>

        <div class="flex justify-center">
          <button [routerLink]="['/' + currentLanguage + '/listen']" class="bg-[#9B90FF] px-10 text-white flex justify-center text-[18px] font-[500] items-center gap-4 py-3 rounded-[30px] text-center w-[250px]">Тексеру</button>
        </div>
      </div>

      <div class="flex flex-col justify-between max-w-[450px] min-h-[400px] bg-[#F5F8FE] p-10 rounded-[20px] shadow-lg">
        <div>
          <h4 class="flex items-center gap-4 text-[18px] font-[600]"><i class='bx bx-play text-[24px]' style='color:#59cbb7'  ></i> Сөйлем жазу беті (Write Page)</h4>
        </div>

        <div>
          <p>
            Қазақша сөйлемдерді жазып, олардың аудио жазбаларын тыңдауға көмектесіңіз. Сіздің көмегіңізбен жасанды интеллект қазақша сөйлеп, тыңдай алады.
          </p>
        </div>

        <div class="flex justify-center">
          <button [routerLink]="['/' + currentLanguage + '/write']" class="bg-[#9B90FF] px-10 text-white flex justify-center text-[18px] font-[500] items-center gap-4 py-3 rounded-[30px] text-center w-[250px]">Сөйлем жазу</button>
        </div>
      </div>

      <div class="flex flex-col justify-between max-w-[450px] min-h-[400px] bg-[#F5F8FE] p-10 rounded-[20px] shadow-lg">
        <div>
          <h4 class="flex items-center gap-4 text-[18px] font-[600]"><i class='bx bx-download' style='color:#1b1aff'  ></i> Жүктеу беті (Download Page)</h4>
        </div>

        <div>
          <p>
            Қазақша сөйлемдерді жазып, олардың аудио жазбаларын тыңдауға көмектесіңіз. Сіздің көмегіңізбен жасанды интеллект қазақша сөйлеп, тыңдай алады.
          </p>
        </div>

        <div class="flex justify-center">
          <button [routerLink]="['/' + currentLanguage + '/download']" class="bg-[#9B90FF] px-10 text-white flex justify-center text-[18px] font-[500] items-center gap-4 py-3 rounded-[30px] text-center w-[250px]">Жүктеу</button>
        </div>
      </div>
    </div>
  </section>
</div>

<app-footer></app-footer>
