<div class="flex justify-between gap-20">
  <aside class="w-[25%] sticky top-24 self-start">
    <ul class="text-[24px] flex flex-col text-[#959595] gap-6 font-[700] leading-[35px]">
      <li
        *ngFor="let item of [
      { id: 'public_domain', label: 'Общественное достояние' },
      { id: 'quoting_sentences', label: 'Цитирование предложений' },
      { id: 'adding_sentences', label: 'Добавление предложений' },
      { id: 'view_sentences', label: 'Просмотр предложений' },
      { id: 'domain_sentences', label: 'Домен предложений' }
    ]"
        [ngClass]="{ 'border-gradient active border-gradient-purple only-top': isActive(item.id) }"
      >
        <a [routerLink]="[]" [fragment]="item.id" class="cursor-pointer">{{ item.label }}</a>
      </li>
    </ul>
  </aside>

  <div class="w-[75%] flex flex-col gap-6">
    <div #public_domain id="public_domain" class="pb-10 border-b">
      <h1 class="text-[22px] font-[600]">Общественное достояние</h1>
      <p class="mt-6">Очень важно, чтобы все текстовые предложения были <span class="text-[#1570EF]">общественным достоянием (cc0)</span>, поскольку набор данных Common Voice выпущен под лицензией cc0. Загружайте предложение только в том случае, если вы в этом уверены, и всегда указывайте соответствующую цитату.</p>
      <p class="my-6">Лучшие предложения для создания полезного механизма распознавания речи — разговорный современный язык. Некоторые идеи, которые помогут вам генерировать предложения:</p>
      <ul class="list-disc list-inside flex flex-col gap-2 mb-6">
        <li>Создавайте современные разговорные предложения самостоятельно или вместе с друзьями или языковым сообществом, например, с помощью «write-a-thon»</li>
        <li>Свяжитесь с авторами, драматургами или сценаристами и спросите, готовы ли они передать небольшую часть своих произведений в общественное достояние.</li>
        <li>Ищите текст, на который больше не распространяется авторское право — например, большинство книг, изданных до 1920 года.</li>
        <li>Обратитесь к правительствам, некоммерческим организациям или медиа-организациям, чтобы узнать, может ли какой-либо их веб-контент, отчеты или другой контент стать общественным достоянием.</li>
      </ul>
    </div>

    <div #quoting_sentences id="quoting_sentences" class="pb-10 border-b">
      <h1 class="text-[22px] font-[600]">Цитирование предложений</h1>
      <p class="mt-6">Важно включать цитаты, чтобы мы могли убедиться, что предложения входят в общественное достояние и на них не распространяются ограничения авторского права.</p>
      <p class="mt-6 font-[600]">Веб-сайты</p>
      <p class="mb-2">Вы можете указать сайт, например: "Open Voice - https://openvoice.kz/"</p>

      <p class="mt-6 font-[600]">Академический справочник</p>
      <p class="mb-2">Вы можете использовать академический стиль ссылок, например, стиль «Open Voice. Доступно по адресу https://openvoice.kz/ (дата обращения: 15 апреля 2025 г.)»</p>

      <p class="mt-6 font-[600]">Источники не из Интернета</p>
      <p class="mb-2">Для текста, являющегося общественным достоянием, которого нет в Интернете, вы можете использовать академический стиль ссылок, например, стиль Гарварда: «Джесс (2021) Мои стихи под публичной лицензией».</p>

      <span class="text-[#575757] font-[600]">ПРИМЕР</span>

      <div class="w-full bg-[#F9F9F9] flex flex-col justify-center items-center mt-4 p-10">
        <div class="relative">
          <label class="absolute text-[12px] bg-[#FFFFFF] top-[-8px] px-2 left-2">Цитата</label>
          <input type="text" class="w-[600px] border b-[#E6E4E1] py-2 px-4">
        </div>

        <p class="mt-4 text-[#575757]">Вот как вы цитируете себя, если сами написали контент.</p>
      </div>
    </div>

    <div #adding_sentences id="adding_sentences" class="pb-10 border-b">
      <h1 class="text-[22px] font-[600]">Добавление предложений</h1>
      <p class="mt-6 font-[600]">Длина</p>
      <p class="mb-2">В предложении должно быть менее 15 слов.</p>

      <p class="mt-6 font-[600]">Орфография и пунктуация</p>
      <p class="mb-2">Предложение должно быть написано правильно.</p>

      <p class="mt-6 font-[600]">Разговорный стиль</p>
      <p class="mb-2">Лучшие предложения естественны и разговорны — их должно быть легко читать. Хотя фонетическое разнообразие и разные слова в предложениях важны, мы также стараемся сделать запись предложений максимально увлекательной и весёлой для нашего волонтерского сообщества.</p>

      <p class="mt-6 font-[600]">Числа</p>
      <p class="mb-2">В идеале в исходном тексте не должно быть цифр, потому что они могут вызвать проблемы при чтении вслух. Способ чтения чисел зависит от контекста и может привести к путанице в наборе данных. Например, число «2409» можно точно прочитать как «двадцать четыре ноль девять» и как «две тысячи четыреста девять».</p>

      <p class="mt-6 font-[600]">Аббревиатуры и Акронимы</p>
      <p class="mb-2">Аббревиатур и акронимов, таких как «USA» или «ICE», следует избегать в исходном тексте, поскольку они могут быть прочитаны способом, который не совпадает с их написанием. Кроме того, для одной аббревиатуры может быть несколько точных произношений.</p>

      <p class="mt-6 font-[600]">Специальные символы и иностранные буквы</p>
      <p class="mb-2">Буквы должны быть существующими в языке, на котором идёт чтение. Например, «ж» — это буква русского алфавита, но она никогда не используется в английском языке и поэтому никогда не должна появляться ни в одном английском исходном тексте.</p>
      <p class="my-2">Языки могут иметь свои собственные правила проверки с дополнительными требованиями при локализации. Если для языка нет специального файла проверки, для участников будут отображаться правила на английском языке.</p>

      <p class="mt-6 font-[600]">Оскорбительное содержимое</p>
      <p class="mb-2">Если предложение является оскорбительным или расстраивающим — например, из-за откровенного содержания или другого нарушения наших правил участия в сообществе — вы должны отклонить предложение. Вы также можете связаться с нами по адресу openvoice&#64;gmail.com, чтобы решить проблему.</p>
    </div>

    <div #view_sentences id="view_sentences" class="pb-10 border-b">
      <h1 class="text-[22px] font-[600]">Просмотр предложений</h1>

      <ul class="list-disc list-inside flex flex-col gap-2 my-6">
        <li>Если предложение соответствует указанным выше критериям, нажмите кнопку «Да».</li>
        <li>Если предложение не соответствует вышеуказанным критериям, нажмите кнопку «Нет».</li>
        <li>Если вы не уверены в предложении, вы также можете пропустить его и перейти к следующему.</li>
        <li>Если у вас закончились предложения для проверки, помогите нам собрать больше предложений!</li>
      </ul>

      <span class="text-[#575757] font-[600]">ПРИМЕР</span>

      <div class="w-full bg-[#F9F9F9] flex gap-4 justify-center items-center mt-4 p-10">
        <button class="flex gap-4 items-center uppercase font-[600] px-10 py-4 bg-[#FFFFFF] rounded-[30px] shadow-[0_4px_6px_rgba(0,255,0,0.8)]"><i class='bx bx-like text-[24px]' ></i> Да</button>
        <button class="flex gap-4 items-center uppercase font-[600] px-10 py-4 bg-[#FFFFFF] rounded-[30px]"><i class='bx bxs-chevrons-right' ></i> Пропустить</button>
        <button class="flex gap-4 items-center uppercase font-[600] px-10 py-4 bg-[#FFFFFF] rounded-[30px] shadow-[0_4px_6px_rgba(255,0,0,0.8)]"><i class='bx bx-dislike text-[24px]' ></i> Нет</button>
      </div>
    </div>

    <div #domain_sentences id="domain_sentences" class="pb-10 border-b">
      <h1 class="text-[22px] font-[600]">Домен предложений</h1>
      <p class="mt-6 mb-4">Домен относится к теме предложения. В настоящее время вы можете выбирать между:</p>
      <ul class="list-disc list-inside flex flex-col gap-2 mb-6">
        <li>Сельское хозяйство и продовольствие</li>
        <li>Автомобилестроение и транспорт</li>
        <li>Финансы</li>
        <li>Основные</li>
        <li>Здравоохранение</li>
        <li>История, право и управление</li>
        <li>Основы языка (например, цифры, буквы, деньги)</li>
        <li>Медиа и развлечения</li>
        <li>Природа и окружение</li>
        <li>Новости и текущие события</li>
        <li>Сфера услуг и розничная торговля</li>
        <li>Технологии и робототехника</li>
      </ul>
    </div>
  </div>
</div>
