<div class="px-40 py-10">

  <div class="flex flex-col">
    <div class="flex justify-between mt-10">
      <div class="flex flex-col">
        <h1 class="text-[36px] font-[500]">
          {{ 'organizations.projects' | translate }} <span *ngIf="searchQuery">({{ filteredProjects.length }})</span>
        </h1>
      </div>

      <div class="flex flex-col gap-4 items-end relative">
        <i class="bx bx-search absolute right-4 text-[20px] top-3"></i>
        <input
          [(ngModel)]="searchQuery"
          (input)="onSearchChange()"
          [placeholder]="'organizations.search' | translate"
          class="py-2 px-8 border bg-[#F9F9F9] font-[600] rounded-[30px] w-fit outline-none"
        />
      </div>
    </div>

    <div class="mt-8">
      <p class="text-[18px] w-[600px]">{{ 'organizations.projects_list' | translate }}</p>
    </div>


    <div class="flex flex-wrap gap-4 mt-6 justify-between">
      <div *ngFor="let project of filteredProjects" class="flex flex-col justify-between shadow-md w-[380px]">
        <div class="flex flex-col justify-between p-8">
          <div>
            <h3 class="text-[22px] font-[600]">{{ project.name }}</h3>
          </div>

          <div class="flex items-center gap-14 mt-4">

            <div>
              <div class="flex text-[14px] items-center text-[#575757] gap-2">
                <svg class="DataItemHeadingIcon--tW9fa" width="13" height="13" viewBox="0 0 13 13" xmlns="http://www.w3.org/2000/svg"><path d="M5.8 2.3h5.6a.4.4 0 1 0 0-.8H5.8a.4.4 0 1 0 0 .8ZM7.2 10.7H.4a.4.4 0 1 0 0 .8h6.8a.4.4 0 1 0 0-.8ZM.4 5.4H10a.4.4 0 1 0 0-.8H.4c-.2 0-.4.2-.4.4s.2.4.4.4ZM0 8c0 .2.2.4.4.4h12.2a.4.4 0 1 0 0-.8H.4c-.2 0-.4.2-.4.4ZM9.8 10.7H9a.4.4 0 1 0 0 .8h.7c.1.2.1.6-.1.8-.2.2-.2.4 0 .6l.2.1.3-.1c.6-.6.6-1.5 0-2.1l-.3-.1ZM12.3 10.7h-.9a.4.4 0 1 0 0 .8h.7c.2.2.2.6 0 .8-.2.2-.2.4 0 .6l.2.1.3-.1c.6-.6.5-1.5 0-2.1l-.3-.1ZM3.2 2.3H4a.4.4 0 1 0 0-.8h-.7a.7.7 0 0 1 .1-.8c.2-.2.2-.4 0-.6a.4.4 0 0 0-.5 0c-.6.6-.6 1.5 0 2.1l.3.1ZM.7 2.3h.9a.4.4 0 1 0 0-.8H.9a.7.7 0 0 1 0-.8c.2-.2.2-.4 0-.6a.4.4 0 0 0-.5 0C0 .7 0 1.6.4 2.2l.3.1Z"></path></svg>
                {{ 'organizations.sentences' | translate }}
              </div>
              <span class="number text-[26px]">{{ project.texts_count }}</span>
            </div>
          </div>
        </div>
        <div (click)="downloadProjectRecords(project.id, project.name)"
             class="w-full flex justify-center cursor-pointer p-4 bg-[#F9F8F7] hover:bg-[#E7E5E2] transition-colors duration-300">
          <button *ngIf="!loadingMap[project.id]" class="uppercase font-[600]">{{ 'organizations.download' | translate }}</button>
          <div *ngIf="loadingMap[project.id]" class="loader"></div>
        </div>
      </div>
    </div>
  </div>
</div>
