<section class="header">
  <div>
    <h1>Уведомление о конфиденциальности для Open Voice</h1>
    <p>Настоящая Политика конфиденциальности описывает, какие данные мы собираем, как они используются, обрабатываются и защищаются.</p>
  </div>
</section>

<div class="mt-8 px-40">

  <p class="text-[20px]">Персональная информация, которую собирает Open Voice, обрабатывается в соответствии с Политикой конфиденциальности</p>
  <p class="mt-2 text-[18px] font-[500]">Дата вступления в силу: <span style="font-family: 'Open Sans', sans-serif !important">28 марта, 2025 г.</span></p>
  <h3 class="text-[28px] font-[600] mt-6">Сбор и использование данных</h3>
  <p class="text-[20px] mt-4">Мы собираем минимально необходимую информацию для предоставления услуг платформы. Это может включать:</p>
  <ul class="list-disc list-inside flex flex-col gap-2 text-[18px] mt-2 mb-6">
    <li>Регистрационные данные (имя, адрес электронной почты, организация, если применимо);</li>
    <li>Контент, загружаемый пользователем, включая текстовые и аудиофайлы;</li>
    <li>Метаданные использования (например, информация о взаимодействиях с платформой);</li>
    <li>Технические данные, такие как IP-адрес, тип устройства и операционная система.</li>
  </ul>
  <p class="text-[20px] mt-2 mb-4">Сбор данных осуществляется исключительно с целью улучшения работы сервиса, обеспечения безопасности и удобства пользователей.</p>

  <h3 class="text-[28px] font-[600] mt-6">Передача и хранение данных</h3>
  <p class="text-[20px] mt-4">Ваши данные могут храниться на защищённых серверах, соответствующих стандартам безопасности. Мы не передаем ваши данные третьим лицам без вашего согласия, за исключением случаев, предусмотренных законом.</p>
  <p class="text-[20px] mt-4">Мы используем меры шифрования и защиты для предотвращения несанкционированного доступа к данным, а также ограничиваем доступ к персональной информации только для уполномоченных сотрудников и партнеров.</p>


  <h3 class="text-[28px] font-[600] mt-6">Права пользователей</h3>
  <p class="text-[20px] mt-4">Вы имеете право:</p>
  <ul class="list-disc list-inside flex flex-col gap-2 text-[18px] mt-2 mb-6">
    <li>Запрашивать доступ к своим данным;</li>
    <li>Требовать их изменения или удаления;</li>
    <li>Отозвать согласие на обработку данных;</li>
    <li>Ограничить обработку данных или возражать против их использования.</li>
  </ul>
  <p class="text-[20px] mt-2 mb-4">Для реализации этих прав вы можете связаться с нами через предоставленные контактные данные.</p>


  <h3 class="text-[28px] font-[600] mt-6">Использование файлов cookie и аналитики</h3>
  <p class="text-[20px] mt-4">Мы можем использовать файлы cookie и сторонние инструменты аналитики для улучшения качества сервиса. Вы можете отключить cookie в настройках вашего браузера, однако это может ограничить функциональность платформы.</p>


  <h3 class="text-[28px] font-[600] mt-6">Права пользователей</h3>
  <p class="text-[20px] mt-4">Вы имеете право:</p>
  <ul class="list-disc list-inside flex flex-col gap-2 text-[18px] mt-2 mb-6">
    <li>Запрашивать доступ к своим данным;</li>
    <li>Требовать их изменения или удаления;</li>
    <li>Отозвать согласие на обработку данных;</li>
    <li>Ограничить обработку данных или возражать против их использования.</li>
  </ul>
  <p class="text-[20px] mt-2 mb-4">Для реализации этих прав вы можете связаться с нами через предоставленные контактные данные.</p>
  <div class="mt-4 pb-10 flex text-[20px] gap-6">
    <a class="text-[#1B1AFF]">support&#64;openvoice.kz</a>
    <span class="text-[#1B1AFF]" style="font-family: 'Montserrat', sans-serif !important">+ 7 775 363 62 45</span>
  </div>
</div>

<app-footer></app-footer>
