@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Raleway", sans-serif !important;
}

.header {
  background-image: url("/wave.svg");
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
  border-bottom: 1px solid #DBDBDB;
  @apply px-40 pt-20;

  h1 {
    @apply text-6xl font-[500] text-black;
  }

  p {
    margin-top: 20px;
    width: 600px;
    font-size: 24px;
  }
}

.active {
  font-weight: 500;
  border-bottom: 2px solid;
}
