<section class="header">
  <div>
    <h1>Руководство по участию</h1>
    <p>Узнайте, как участвовать и проверять предложения и аудиоклипы в наборе данных Open Voice.</p>
  </div>

  <div class="flex gap-8 mt-40 text-[24px]">
  <span
    class="cursor-pointer"
    [class.border-black]="activeTab === 'voices'"
    [class.font-[600]]="activeTab === 'voices'"
    [class.border-b-2]="activeTab === 'voices'"
    (click)="setActiveTab('voices')"
  >
    Коллекция голосов
  </span>

    <span
      class="cursor-pointer"
      [class.border-black]="activeTab === 'phrases'"
      [class.font-[600]]="activeTab === 'phrases'"
      [class.border-b-2]="activeTab === 'phrases'"
      (click)="setActiveTab('phrases')"
    >
    Коллекция фраз
  </span>
  </div>
</section>

<div class="mt-8 px-40">
  <app-voices-collection *ngIf="activeTab === 'voices'"></app-voices-collection>
  <app-phrases-collection *ngIf="activeTab === 'phrases'"></app-phrases-collection>
</div>

<app-footer></app-footer>
