<div class="min-h-screen grid grid-rows-[1fr_auto]">
  <div class="container flex flex-1">
    <aside class="bg-[#F8F8F7] w-[25%] h-full min-h-screen p-6">
      <ul class="nav-items">
        <li class="nav-item" routerLinkActive="active">
          <i class='bx bx-user'></i>
          <a [routerLink]="['/', currentLang, 'profile', 'info']">Профиль</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <i class='bx bx-camera'></i>
          <a [routerLink]="['/', currentLang, 'profile', 'avatar']">Аватар</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <i class='bx bx-cog'></i>
          <a [routerLink]="['/', currentLang, 'profile', 'settings']">Настройки</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <i class='bx bx-trash'></i>
          <a [routerLink]="['/', currentLang, 'profile', 'security']">Удалить профиль</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <i class='bx bx-cloud-download'></i>
          <a [routerLink]="['/', currentLang, 'profile', 'billing']">Выгрузить мои данные</a>
        </li>
      </ul>
    </aside>

    <div class="flex w-[75%] py-10 pl-16 pr-44">
      <router-outlet></router-outlet>
    </div>
  </div>

  <app-footer></app-footer>
</div>
