<div class="min-h-screen grid grid-rows-[1fr_auto]">
  <div class="container flex flex-col flex-1">
    <!-- Navigation -->
    <nav class="w-full p-4">
      <ul class="nav-items flex flex-wrap justify-center gap-2">
        <li class="nav-item" routerLinkActive="active">
          <i class='bx bx-user'></i>
          <a [routerLink]="['/', currentLang, 'profile', 'info']">{{ 'profile' | translate }}</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <i class='bx bx-camera'></i>
          <a [routerLink]="['/', currentLang, 'profile', 'avatar']">{{ 'avatar' | translate }}</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <i class='bx bx-cog'></i>
          <a [routerLink]="['/', currentLang, 'profile', 'settings']">{{ 'settings' | translate }}</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <i class='bx bx-trash'></i>
          <a [routerLink]="['/', currentLang, 'profile', 'delete']">{{ 'delete_profile' | translate }}</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <i class='bx bx-cloud-download'></i>
          <a [routerLink]="['/', currentLang, 'profile', 'download']">{{ 'download_my_data' | translate }}</a>
        </li>
      </ul>
    </nav>

    <!-- Main content -->
    <div class="flex w-full p-4">
      <router-outlet></router-outlet>
    </div>
  </div>

  <app-footer></app-footer>
</div>
